<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/app.css">
    <title>학생정보</title>
</head>
<body>
    <% if(is_logined == false) { %>
    <table width="30%">
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/s_login">학생로그인</a></td>
            <td><a href="/s_register">학생회원가입</a></td>
        </tr>
    </table>

    <% }else{ %>

        <table width="30%">
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/logout">logout</a></td>
            </tr>
        </table>
    <% } %>
    <h2>학생정보목록</h2>
	<table>
		<tr>
			<th>학번</th>
			<th>이름</th>
			<th>전화번호</th>
			<th>비밀번호</th>
			<th>수정</th>
			<th>삭제</th>
		</tr>
		<% student.forEach(function (value) { %>
			<tr>
				<td><%=value.s_grade%></td>
				<td><%=value.s_name%></td>
				<td><%=value.s_pnum%></td>
				<td><%=value.s_pw%></td>
				<td><a href="/edit/<%=value.s_grade%>">수정</a></td>
				<td><a href="/delete/<%=value.s_grade%>">삭제</a></td>
			</tr>
		<% });%>
	</table>	
</body>
<footer class="fixed-bottom">
    <div class="wrap">
     방과후 관리하는 페이지
    </div>
  </footer>
</html>